@keyframes anim{
    0% {background-color: #ff0;} /*Amarillo*/
   25% {background-color: #f80;} /*Naranja*/
   50% {background-color: #ec0707;} /*Negro*/
   75% {background-color: #f80;} /*Otra vez naranja*/
  100% {background-color: #ff0;} /*Otra vez amarillo*/
}
.fondo {
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}