@keyframes anim{
    0% {background-color: #EDDEFE;} /*Amarillo*/
   50% {background-color: #FEDAD2;} /*Naranja*/
   100% {background-color: #FEE0A9;} /*Negro*/
}
.fondo {
  animation-name: anim;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}