*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000;
}

.nave {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: white;
}

.logo {
    margin-right: 15px;
}

select {
    width: 90px;
    height: 25px;
    background-color: transparent;
    color: white;
    border-style: none;
}

button {
    color: white;
    background-color: transparent;
}

.contenido-principal{
    width: 100%;
    height: 50%;
    background: rgb(233, 176, 0);
    background: linear-gradient(90deg, rgba(233, 176, 0, 1) 0%, rgba(255, 0, 95, 1) 50%, rgba(255, 82, 114, 1) 100%);
}

.degradado-transparente {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(233, 176, 0);
    background: linear-gradient(90deg, rgba(233, 176, 0, 0.5) 0%, rgba(255, 0, 95, 0.5) 50%, rgba(255, 82, 114, 0.5) 100%);
}

.banner{
    display: flex;
    justify-content: flex-start;

}

.flex {
    display: flex;
    justify-content: flex-start;
}


.nav1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 13px;
}

.build {
    z-index: 1;
    width: 50%;
    color: white;
    align-self: center;
}

.build p {
    padding-bottom: 5px;

}

.botones {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.button12 {
    background-color: black;
    margin-top: 35px;

    width: 800px;
    height: 50px;
  
}

.cursos {
    width: 500px;
    height: 500px;
    background-color: black;
    display: flex;
    align-items: end;

}

.js {
    width: 300px;
    height: 200px;
    background-color: gray;
    margin-left: 20px;
    display: flex;
    justify-content: end;
}

.js-logo {
    width: 70px;
    height: 70px;

}
