#motor{
    width: 125px;
    height: 20px;
    border-color: #44a691;  
    border-radius: 10px;  
    list-style: none;
}
#helice{
    width: 125px;
    height: 20px;
    border-color: #44a691;  
    border-radius: 10px;  
    list-style: none;
}
#camara{
    width: 125px;
    height: 20px;
    border-color: #44a691;  
    border-radius: 10px;  
    list-style: none;
}

#base{
    width: 125px;
    height: 20px;
    border-color: #44a691;  
    border-radius: 10px;  
    list-style: none;
}

.direccion{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#motor:hover{
    background-color: #44a691;
    color: white;
}

#helice:hover{
 background-color:#f5b73b ;

}

#camara:hover{
    background-color:#f52f0c;
    color: white;
}

#base:hover{
    background-color:#fa9f45;
    color: white;
}
