*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #000;
}

.nave {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    color: white;
    align-self: center;
}
.logo-plural{
display: flex;
flex-direction: row;
height: 15px;
align-self: center;
margin-top: -8px;
}
.logo {
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

select {
    width: 90px;
    height: 25px;
    background-color: transparent;
    color: white;
    border-style: none;
}

button {
    color: white;
    background-color: black;
    border-style: none;
    height: 30px;
    margin-top: -4px;
}

.contenido-principal{
    width: 100%;
    height: 40%;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.degradado-transparente {
    width: 100%;
    height: 90%;
    position: absolute;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,0.5) 0%, rgba(253,29,29,0.5) 50%, rgba(252,176,69,0.5) 100%);
}

.banner{
    display: flex;
    justify-content: flex-start;
   
}

.flex {
    display: flex;
    justify-content: flex-start;
}


.nav1 {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav2 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 13px;
}

.build {
    z-index: 1;
    width: 50%;
    color: white;
    align-self: center;
}

.build p {
    padding-bottom: 5px;

}

.botones {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.button12 {
    background-color: black;
    margin-top: 35px;

    width: 800px;
    height: 50px;
  
}

.cursos {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: end;

}

.js-imagen {
    width: 350px;
    height: 200px;
    background-color:#1E1E1E;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
}

.js-logo {
    margin-left: 280px;
    width: 70px;
    height: 70px;
    position: relative;
    margin-top: -40px;
    
}


.angular-logo{
    margin-left: 280px;
    width: 70px;
    height: 70px;
    position: relative;
    margin-top: -40px;
}
.color{
    color: #6F194B   ;
}
.trending{

    width: 350px;
    height: 200px;
    background-color: black;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
    
}

#tamaño-trending{
margin-top: 30px;


}
#learn{
    margin-top: -80px;
}
  /* aqui empieza el tamaño de mobil*/
@media screen and (max-width: 767px) {
  
  .cursos{
    display: flex;
    flex-direction: column;
    
}  
.degradado-transparente{
    width: 500px;
    height: 800px;
}
.contenido-principal{
  width: 400px;
  height: 800px;

}

.nav1{
    gap: 200px;
    margin-left: 40px;
}
.logo-plural{
    display: flex;
    flex-direction: row;
    font-size: larger;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.Donbosco{
width: 300px;
height: 800px;

}
.banner{
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.build{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: -125px;
    margin-top: 25px;
    width: 200px;
    height: 200px;
}
.js-imagen{
    margin: 18px;
    position: relative;
    margin-top: 3px;
    margin-left: -25px;
}
.botones{
  display: flex;
  flex-direction: column;
    margin-right: -50PX;
}
.button12{
    width: 170px;
    height: 60px;
    font-size: 20px;
    margin-top: 5px;
}
}